#youhave {
    justify-content: center;
}

.havevisited {

    font-family: 'Inter, sans-serif';
    text-align: center;
    margin-top: 5vh;
    font-size: 2.8em;
    color: #BED95B;
    text-decoration: none;
}

.numbers {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.small {
    font-size: 7.1em;
    color: white;
    font-family: 'Inter, sans-serif';
    text-decoration: none;
}

.lomitko {
    font-size: 5.0em;
    color: #D93D86;
    font-family: 'Inter, sans-serif';
    margin-top: 60px;
    text-decoration: none;
}

.big {
    font-family: 'Inter, sans-serif';
    font-size: 5.0em;
    color: #D93D86;
    margin-top: 80px;
    text-decoration: none;
}

.lol {
    font-family: 'Inter, sans-serif';
    text-align: center;
    margin-top: 0vh;
    font-size: 2.8em;
    color: #BED95B;
    text-decoration: none;

}

.eight {
    font-size: 2.3em;
    color: #D93D86;
    font-family: 'Inter, sans-serif';
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}



.come {
    font-size: 2.3em;
    color: #BED95B;
    font-family: 'Inter, sans-serif';
    text-decoration: none;
}



.happy {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    ]
}

.win {
    font-size: 2.3em;
    color: #BED95B;
    font-family: 'Inter, sans-serif';
    text-align: center;
    text-decoration: none;
    margin-bottom: 60px;
}
