body {
     background-color: #143959;
}

#game-title {
     justify-content: center;
     font-family: "Bowlby One SC";
     text-align: center;
     margin-top: 5vh;
}

#first-row {
     display: flex;
     flex-direction: row;
     justify-content: center;
}

#choose {
     font-size: 10vw;
     color: #BED95B;
     font-family: "Bowlby One SC";
}

#your {
     font-size: 7vw;
     margin-top: 4%;
     margin-left: 1%;
     color: #f8f8f8;
     font-family: "Bowlby One SC";
}

#mood {
     font-size: 18vw;
     margin-left: 19%;
     margin-top: -7%;
     color: #D93C87;
     font-family: "Bowlby One SC";
}

.grid-item {
     color: #F8F8F8;
     font-size: 20vw;
}

@media (min-width: 300px) {
     #game-grid {
          justify-content: center;
          text-align: center;
          display: grid;
          grid-template-columns: repeat(3, 80px);
          grid-template-rows: repeat(3, 80px);
          margin-top: 5vh;
     }
}

@media (min-width: 350px) {
     #game-grid {
          grid-template-columns: repeat(3, 100px);
          grid-template-rows: repeat(3, 100px);
     }
}

@media (min-width: 400px) {
     #game-grid {
          grid-template-columns: repeat(3, 110px);
          grid-template-rows: repeat(3, 110px);
     }
}

#griditem1 {
     background-color: #D93C87;
}

#griditem2 {
     background-color: #BED95B;
}

#griditem3 {
     background-color: #D93C87;
}

#griditem4 {
     background-color: #BED95B;
}

#griditem5 {
     background-color: #D93C87;
}

#griditem6 {
     background-color: #BED95B;
}

#griditem7 {
     background-color: #D93C87;
}

#griditem8 {
     background-color: #BED95B;
}

#griditem9 {
     background-color: #D93C87;
}

#question {
     color: #BED95B;
     font-size: 7vw;
     text-align: center;
     margin-top: 10%;
}