.onebeer {
    font-family: "Bowlby One sc";
    text-align: center;
    margin-top: 9vh;
    margin-bottom: 5vh;
    font-size: 7vh;
    color: #D93D86;
    text-decoration: none;

}

.onebeer_container {
    justify-content: center;
}

.fa-qrcode {
    font-size: 60vw;
    color: white;
    width: 100%;
    display: block;
    text-align: center;
}

.letbartender {
    font-family: 'Inter';
    font-size: 4vh;
    color: #BED95B;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;

    text-decoration: none;

}