body {
     background-color: #143959;
}

.fa-qrcode {
     font-size: 15em;
     margin-top: 50%;
     color: #f8f8f8;
     margin: auto;
     margin-top: 40%;
     text-align: center;
     display: block;
     width: 100%;
}