/*-- CSS reset --*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/*-- /CSS reset --*/

/*-------------------------------*/
/*-----------  Body  ------------*/
/*-------------------------------*/
.body {
    font: 12px/18px Arial, sans-serif;
}

.wrapper {
    max-width: 950px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
}



/*-------------------------------*/
/*-----------  Header  ----------*/
/*-------------------------------*/
.header {
    height: auto;
    background: lightpink;
}



/*-------------------------------*/
/*-----------  Main  ------------*/
/*-------------------------------*/
.main_container {
    height: auto;
    background: lightyellow;
}



/*-------------------------------*/
/*-----------  Footer  ----------*/
/*-------------------------------*/
.footer {
    height: auto;
    background: lightgreen;
}







/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-------------------Devices---------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/

/*-------------------Big mobile---------------------*/
@media only screen and (min-width: 400px) {
    .header {
        background-color: red;
    }
}


/*-------------------Tablet---------------------*/
@media only screen and (min-width: 768px) {
    .header {
        background-color: blue;
    }
}


/*-------------------Desktop---------------------*/
@media only screen and (min-width: 1200px) {
    .header {
        background-color: green;
    }
}