@import '../Colours.scss';
@import '../Fonts.scss';

#wrapper {
     width: 100%;
     height: 100vh;

}

#form_section {
     width: 100%;
     height: 91vh;
     background-color: $navy;

     .form_container {
          width: 76%;
          height: 100%;
          margin: 0 auto;

          form {
               width: 100%;
               height: 100vh;

               input {
                    width: 100%;
                    height: 5.5vh;
               }

               label,
               a {
                    color: $green;
                    font-weight: 300;
               }

               label {
                    font-size: 1.2em;
               }

               a:nth-of-type(2) {
                    font-family: $Bowlby;
                    width: 100%;
                    height: 60px;
                    background-color: $pink;
                    line-height: 60px;
                    text-decoration: none;
                    font-size: 1.3em;
                    border-radius: 70px;
                    margin-top: 20%;
               }
          }
     }
}